.main {
    background-image: url('https://static.tildacdn.com/tild6134-3964-4238-a438-323361626634/Container_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left -75px;
    width: 100%;
    height: 112vh;
}

.image {
    background-image: url('https://static.tildacdn.com/tild3331-3234-4339-b836-626563636634/_svg.svg');
    width: 50%;
    height: 45vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    margin-block-start: 11%;
    margin-inline-start: 1%;
}

@media (max-width: 979px) {
    .main {
        height: 100vh;
        background-position: top left -255px;
    }

    .main::before {
        content: '';
        position: absolute;
        top: -12px;
        background-image: url('src/assets/logo.svg');
        width: 150px;
        height: 13vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 959px) {
    .main {
        height: 100vh;
        background-position: top left -105px;
    }

    .main::before {
        height: 20vh;
        top: -20px;
        left: 25px;
    }

    .image {
        width: 60%;
        margin-block-start: 5%;
    }
    
}

@media (max-width: 640px) {
    .main {
        height: 60vh;
        background-position: top left -115px;
    }

    .main::before {
        height: 17vh;
        top: -10px;
        left: 0px;
    }    

    .image {
        margin-block-start: 0;
    }
}

@media (max-width: 479px) {
    .main {
        margin-block-start: 260px;
        background-position: top left -365px;
    }
    .image {
        width: 90%;
        margin-block-start: -30vh;
    }
}