@font-face {
  font-family: 'Giphurs';
  src: url('/giphurs/fonts/variable/Giphurs[wght].ttf') format('truetype'),
    url('/giphurs/fonts/variable/Giphurs[wght].woff') format('woff'),
    url('/giphurs/fonts/variable/Giphurs[wght].woff2') format('woff2');
  font-weight: 300 800;
  font-style: normal;
}

:root {
  --bg-color: #fff;
  --accent-color-disabled: #959DEB;
  --accent-color-active: #404FDB;
  --accent-color-hover: #2839D4;
  --accent-color-focus: #2331B9;
  --text-color-grey: #9FA5A9;
  --text-color-dark: #0F1F28;
  --text-color-accent: #404FDB;
  --system-color-red: #FE3D3D;
  --system-color-green: #27AE60;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
img,
button,
input,
label,
div {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
