.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: calc(100% - 40px);
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.passwordWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showPasswordButton {
    cursor: pointer;
    position: absolute;
    top: 73%;
    right: 8px;
    transform: translateY(-50%);
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.iconPassword {
    width: 100%;
    height: 100%;
}

.error {
    color: var(--system-color-red);
    font-weight: 400;
    font-size: 12px;
    height: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 86px;
    width: calc(100% + 30px);
}

.link {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -2%;
    cursor: pointer;
    color: var(--text-color-accent);
}

.link:hover {
    color: var(--accent-color-hover);
    cursor: pointer;
}

.link:focus,
.link:focus-visible {
    outline: none;
    color: var(--accent-color-focus);
}

.link:disabled {
    color: var(--accent-color-disabled);
    cursor: not-allowed;
}